<!DOCTYPE html>
<html>
  <head>
    <title>Passports</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Chào mừng </p>
    <a href="/logout">Logout</a>
  </body>
</html>
